/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.row {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

.col-8 {
    width: 75%;

    background-color: red;
}

.col-4 {
    width: 25%;

    background-color: red;
}